@import "tailwindcss";
@import "@fontsource/inter/400.css"; /* Regular */
@import "@fontsource/inter/500.css"; /* Medium */
@import "@fontsource/inter/700.css"; /* Bold */


body, #root {
    width: 100%;
}
html {
    font-family: 'Inter', sans-serif;
}
